@font-face {
	font-family: "EkiciTitle";
	src: url("../assets/fonts/Metropolis-ExtraBold.ttf");
}

@font-face {
	font-family: "EkiciQuote";
	src: url("../assets/fonts/Muli-Italic.ttf");
}

@font-face {
	font-family: "EkiciDefault";
	src: url("../assets/fonts/OpenSans-Regular.ttf");
}
