@font-face {
	font-family: "EkiciTitle";
	src: url("../assets/fonts/Metropolis-Bold.otf");
}

@font-face {
	font-family: "EkiciQuote";
	src: url("../assets/fonts/Muli-Italic.ttf");
}

@font-face {
	font-family: "EkiciDefault";
	src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "EkiciDefaultBold";
	src: url("../assets/fonts/OpenSans-Bold.ttf")
}

@font-face {
	font-family: "EkiciDefaultItalic";
	src: url("../assets/fonts/OpenSans-Italic.ttf")
}
