@font-face {
	font-family: "BETitle";
	src: url("../assets/fonts/Metropolis-ExtraBold.ttf");
}

@font-face {
	font-family: "MontserratAlternates-Italic";
	src: url("../assets/fonts/MontserratAlternates-Italic.ttf");
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url("../assets/fonts/OpenSans-Regular.ttf");
}
