$fontTitle: "EkiciTitle", Helvetica, Arial, sans-serif
$fontSans: "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansItalic: "EkiciDefaultItalic", "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansBold: "EkiciDefaultBold", Helvetica, Arial, sans-serif
$fontQuote: "EkiciQuote", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #ffffff
$beta: #ededed
$gama: #d8d8d8
$delta: #cbcbcb
$epsilon: #bababa

$linkColor: #67D0D9
$linkHoverColor: #479fa7
$codeBackground: #222

$backgroundColor: #181818

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
