$fontTitle: "EkiciTitle", Helvetica, Arial, sans-serif
$fontSans: "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansItalic: "EkiciDefaultItalic", "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansBold: "EkiciDefaultBold", Helvetica, Arial, sans-serif
$fontQuote: "EkiciQuote", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #f4fae8
$beta: #becc95
$gama: #8aab7e
$delta: #b5e058
$epsilon: #2a5239
$omega: #17191e
$zeta: #fff
$kappa: #1e2d24

$thin-font: 350

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
