$fontTitle: "EkiciTitle", Helvetica, Arial, sans-serif
$fontSans: "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansItalic: "EkiciDefaultItalic", "EkiciDefault", Helvetica, Arial, sans-serif
$fontSansBold: "EkiciDefaultBold", Helvetica, Arial, sans-serif
$fontQuote: "EkiciQuote", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #183725
$beta: #0f2318
$gama: #6b8f72
$delta: #2a7040
$epsilon: #d5eccc
$omega: #ffffff
$zeta: #000
$kappa: #edf7de

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
